.global-services-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3b3b3b;
  padding: 14px 8px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.service-item .icon {
  background: #000;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 6px;
}
